In [5]:
import pandas as pd
import boto3
import json

In [7]:
comprehend = boto3.client(service_name="comprehend", region_name = "us-east-1")

In [9]:
text = "I don't like this book"
print('Calling DetectSentiment')
print(json.dumps(comprehend.detect_sentiment(Text=text, LanguageCode='en'), sort_keys=True, indent=4))
print('End of DetectSentiment\n')

Calling DetectSentiment
{
    "ResponseMetadata": {
        "HTTPHeaders": {
            "connection": "keep-alive",
            "content-length": "163",
            "content-type": "application/x-amz-json-1.1",
            "date": "Wed, 07 Mar 2018 07:40:35 GMT",
            "x-amzn-requestid": "d276ad0a-21da-11e8-a2e5-5b42fb294273"
        },
        "HTTPStatusCode": 200,
        "RequestId": "d276ad0a-21da-11e8-a2e5-5b42fb294273",
        "RetryAttempts": 0
    },
    "Sentiment": "NEGATIVE",
    "SentimentScore": {
        "Mixed": 0.016830647364258766,
        "Negative": 0.9133010506629944,
        "Neutral": 0.04369853064417839,
        "Positive": 0.02616984397172928
    }
}
End of DetectSentiment

In [29]:
df = pd.read_csv("../data/tweets.csv")
df.head(3)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)

In [17]:
text = df["text"][2]

"@VirginAmerica I didn't today... Must mean I need to take another trip!"

In [28]:
sentiment = comprehend.detect_sentiment(Text=text, LanguageCode='en')
sentiment["Sentiment"]

'NEGATIVE'

In [27]:
df_sub = df.loc[0:30,["airline_sentiment","airline_sentiment_confidence","text"]]
df_sub["sentiment"] = df_sub["text"].apply(lambda x: comprehend.detect_sentiment(Text=x, LanguageCode='en')["Sentiment"])
df_sub.head()

,airline_sentiment,airline_sentiment_confidence,text,sentiment
0,neutral,1.0000,@VirginAmerica What @dhepburn said.,NEUTRAL
1,positive,0.3486,@VirginAmerica plus you've added commercials t...,NEUTRAL
2,neutral,0.6837,@VirginAmerica I didn't today... Must mean I n...,NEUTRAL
3,negative,1.0000,@VirginAmerica it's really aggressive to blast...,NEGATIVE
4,negative,1.0000,@VirginAmerica and it's a really big bad thing...,NEGATIVE

In [14]:
# Imports the Google Cloud client library
from google.cloud import language
from google.cloud.language import enums
from google.cloud.language import types

ImportError: cannot import name 'enums'